@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size);
  }
  :root {
    --clr-background: #eceff1;
    --clr-white: #ffffff;
    --clr-primary: rgba(16, 60, 141);
    --clr-gray: #263238;
    --clr-black: #000000;
    --font-size: 12px;
    --border-radius: 0.2em;
    --button-border: 0.5em;
  }

  .navbar {
    width: 100vw;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin: 0px;
  }

  .navbar ul {
    /*I can nest elements without a new bracket because of SCSS*/
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 5em;
    padding: 0;
    overflow: hidden;
    }
    .navbar ul li {
        font-weight: bold;
        color: var(--clr-primary);
        text-transform: uppercase;
      }
      
    .navbar li:first-child {
        /* This code gets the first child element of the list */
        margin-right: auto;
        /* Brings the element all the way to the left */
        margin-left: 2em;
        /* Gives space to the element fron the left */
      }

.navbar ul li a{
    color:var(--clr-primary);
    text-decoration: none;
    padding: 3em;
}

.navbar ul li img{
  width: 40px;
}
/*.navbar ul li a:hover{
    color:var(--clr-white);
    background-color: var(--clr-primary);
}*/
  
  section {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: top;
      color:var(--clr-white);
      /*scroll-snap-align: start;*/
  }
  
  .container{
      /*scroll-snap-type: y mandatory;
      overflow-y: scroll;*/
      height: 100vh;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      /*scroll-padding: 100px; Gives some space at the top between the pages */ 
  }
  
  .one{
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      color: var(--clr-black);
  }

  .one .left_text{
    margin-right: 10em;
    padding-top: 10em;
  }
  .one .left_text h1{
    font-size: 2em;
  }
  .one .left_text p{
    font-size: 1.5em;
  }

  .one .right_img{
    padding-top: 2em;
  }

  .one .right_img img{
    border-radius: var(--border-radius);
  }

  .one .button_box{
    margin-top: 2em;
  }

  .one .button_box button{
    padding: 0.6em 1.5em;
    border-radius: var(--border-radius);
    background-color: rgb(0, 153, 255);
    color: var(--clr-white);
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }

  .one .button_box button a{
    text-decoration: none;
    color: var(--clr-white)
  }

  .one .button_box button:hover{
    background-color: rgb(0, 120, 255);
  }
  
  .two{
     background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
     height: 60vh;
  }
  .two .central_text{
    align-self: center;
  }
  .two .central_text h1{ 
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.7em;
  }

  .two .central_text p{ 
    text-align: center;
    font-size: 1.5em;
  }

  .two .central_text .button_two{
    margin-left: 40%;
    margin-top: 2em;
  }

  .two .central_text .button_two button{
    padding: 0.5em 2.5em;
    cursor: pointer;
    text-decoration: none;
    border:none;
    border-radius: var(--border-radius);
    color:  rgb(211, 20, 40);;
    background-color: ivory;
    transition: all 0.5s;
  }

  .two .central_text .button_two button:hover{
    background-color: rgb(224, 224, 210);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  }

  .three{
    background-color: transparent;
    color: var(--clr-black);
    width: 100vw;
    height: 50vh;
  }

  .three .content_left_three {
    width: 50vw;
    padding: 5em;
  }

  .three .content_left_three h1{
    font-size: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    
  }

  .three .content_left_three .content1_left,
  .three .content_left_three .content2_left,
  .three .content_left_three .content3_left{
    padding: .5em 3em;
    padding-right: 1em;
    margin: 1em;
    background-color: #eaeaea;
  }

  .three .content_left_three .content1_left h3,
  .three .content_left_three .content2_left h3,
  .three .content_left_three .content3_left h3{
    font-size: 1.2em;
  }

  .three .content_left_three .content1_left p,
  .three .content_left_three .content2_left p,
  .three .content_left_three .content3_left p{
    padding: 1em 2em;
    padding-right: 0;
  }

  .three .content_right_three {
    width: 50vw;
    padding: 5em;
  }
  
  .three .content_right_three h1{
    font-size: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .three .content_right_three .content1_right,
  .three .content_right_three .content2_right,
  .three .content_right_three .content3_right{
    padding: 2em;
    padding-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .four{
      background-color: transparent;
      height: 50vh;
      margin-top: 100px;
  }

  .four .container-sub{
    display:flex;
    align-self: center;
  }

  .four .container-sub .newsletter-form{
    padding: 1em;
  }

  .four .container-sub .newsletter-left{
    padding-right: 5em;
  }

  .four .container-sub .newsletter-left h2{
    font-size: 2.5em;
    padding: 0.6em 0;
    color: black;
  }

  .four .container-sub .newsletter-left p{
    font-size: 1.2em;
    color: black;   
  }

  .four .container-sub .newsletter-form .field{
    border: none;
    padding: 0.5em;
    margin: 0.6em;
    margin-left:0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    width: 100%;
    height: 3.5em;
  }

  .four .container-sub .newsletter-form .btn{
    padding: 0.6em 1.5em;
    border-radius: var(--border-radius);
    background-color: rgb(0, 153, 255);
    color: var(--clr-white);
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    margin-top: 0.6em;
    width: 100%;
  }

  .four .container-sub .newsletter-form .btn a{
    text-decoration: none;
    color: var(--clr-white)
  }

  .four .container-sub .newsletter-form .btn:hover{
    background-color: rgb(0, 120, 255);
  }

  .five{
    background-color: #333;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.five h1{
  padding: 0 5em;
  font-size: 1.2em;
  align-self: center;
}

.five .social-icons{
  padding: 0 5em;
  align-self: center;
}

.five .social-icons svg{
  margin: 0 1em;
  fill: white;
}